[submodule "Module-9-Kubernetes-Assignment"]
	path = Module-9-Kubernetes-Assignment
	url = C:\\Users\\kaust\\Documents\\DevOps-Study\\Intellipaat\\Kubernetes\\Assignments\\Module-9-Kubernetes-Assignment
